.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  @include font(700, 26px, 1.2, null);
  text-decoration: none;
  &:focus {
    color: var(--accent-color);
  }
}

.logo__label {
  margin-right: 93px;
  color: var(--primary-text-color);
  text-decoration: none;
}

.logo__label--reverse {
  color: var(--primary-white-color);
}
