.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  @include font(700, 24px, 1.16, null);
  &:focus {
    color: var(--accent-color);
  }
  @include desctop-1200 {
    @include font(700, 26px, 1.2, null);
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @include tablet-768 {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desctop-1200 {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__label {
  color: var(--primary-text-color);
  text-decoration: none;
  @include font(700, 24px, 1.16, null);
  @include desctop-1200 {
    @include font(700, 26px, 1.2, null);
  }
}

.logo__label--reverse {
  color: var(--primary-white-color);
  @include font(700, 24px, 1.16, null);
  @include desctop-1200 {
    @include font(700, 26px, 1.2, null);
  }
}
