.logo {
  display: inline-block;
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  @include font(700, 26px, 1.2, null);
  text-decoration: none;
  &:focus {
    color: var(--accent-color);
  }
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__label {
  color: var(--primary-text-color);
  text-decoration: none;
}

.logo__label--reverse {
  color: var(--primary-white-color);
}
