:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #e5e5e5;
  --team-button-bg-color: #f5f4fa;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --icon-color: #afb1b8;
}
